/* Đây là 1 dạng reset css, k nên dùng code này vì pphạm vi ảnh hưởng đến toàn trang */
/* *{
margin: 0;
padding: 0;
} */
h1{
    background-color: red;
}
body{
    margin: 0;
}
/*  *Làm sao biết được các thẻ nào cần reset ?
Them khảo file reset chuẩn trên gg: normalize.css/