
.icons__1 ul li {
    display: inline-block;
    cursor: pointer;
}
.icons__1 ul li button{
    cursor: pointer;
}
.icons__1 ul li:nth-child(1)  button{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
}
.icons__1 ul li:nth-child(2)  button{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #28A745;
    color: white;
}
.icons__1 ul li:nth-child(3)  button{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #17A2B8;
    color: white;
}
.icons__1 ul li:nth-child(4)  button{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #FFC107;

}
.icons__2 ul li{
    display: inline-block;
}
.icons__2 ul li:nth-child(1)  button{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #F8F9FA;
}
.icons__2 ul li:nth-child(2)  button{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #14A034;
}
.icons__2 ul li:nth-child(3)  button{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #343A40;
    color: white;
}
.icons__2 ul li:nth-child(4)  button{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #14A034;
}