body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.container{
    width: 70%;
    margin: 0 auto;
    border-top: 3px solid #E6301D;
    background-color: #ECF0F1;
}
.logo img{
    padding: 40px;
    width: 15%;
    border-radius: 50%;
}
.text__center{
    text-align: center;
}
.row{
    display: flex;
}
.body__col-3{
    width: calc(100%/4);

    border: 1px solid #cdd1d3;
    margin: 15px;
}
i{  padding-top: 20px;
    font-size: 40px;
    color: #E74E3E;
}
h3{
    margin-top: 0;
}
button{
    background-color: #E74E3E;
    padding: 5px 20px;
    color: white;
    border: none;
    border-radius: 4px;
}
input{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #cdd1d3;
}
p{
    font-size: 12px;
}
@media screen and (max-width:767px){
    .container{
        width: 90%;
    }
    .logo img{
        width: 50%;
        align-items: center;
    }
    .title{
        width: 95%;
        margin: 0 auto;
    }
    h1{
        margin: 0;
    }
    .row{
        display: block;
    }
    .body__col-3{
        width: 88%;
    
        border: 1px solid #cdd1d3;
        margin: 15px;
    }
    .subscribe input{
        width: 85%;;
    }
    .subscribe button{
        width: 89%;
        margin-top: 10px;
    }
    .body{
        padding-bottom: 15px;
    }
}