/* Layout là gì : bố cục trang web , cấu trúc hàng / cột;
có 3 cơ chế dựng layout : float, flex , grid
ưu tiên sử dụng flex để dựng layout vì tínhd dơn giản
1- thành phần inline và block
+ Inline: width dựa theo nội dung , các phần tử inline sẽ đứng chung trên 1 hàng;
+ Block: width = 100%; không thể đứng chung hàng với các phần tử khác
-Set background cho các phần tử để đoán là inline/block
- 1 số thẻ inline : b i u a span....
- 1 số thẻ vlock: div , p , h ....;
- Để chuyển đổi kiểu hiển thị mặc định , sử dụng css display
- Nên dùng inline-block thay thế inline để có thể margin top , bottom được
*/
ul li{
    display: inline-block;
    margin: 0 10px;
}
/*  2 -float: chuyên dùng để dựng layout , chia hàng / cột */
.row{
    border: 3px solid red;
    overflow: auto;
}
.col1 {
    background-color:yellow;
    float: left;
    width: 50%;
}
.col2{
    float: left;
    width: 50%;
    background-color: aqua;
}
/* Về bản chất dựng layout : set float cho các cột bên trong , sau đó set width tương ứng , với layout width thường có đơn vị là %
+ với float luôn phải fix trươgnf hợp vỡ giao diện, vì phần tử bị float luôn có xu hướng hsut phần tử ngay sau nó
 
*/
/* Có 2 cách fix vỡ giao diện:
-can thiệp html, ngay sau cột cuối cùng bị float , thêm 1 html trống , set css clear: both
 */
.clearfix{
    clear: both;
}
/* Sử dụng css overflow: auto cho hàng; */
.row{
    overflow: auto;
}
/* Dựng layout theo cơ chế flexbox 
- Flex chỉ áp dụng cho cấu trúc hàng / cột theo kiểu cha-con trực tiếp
- Flex có hạn chế là thiết kế trên 1 hàng
- Áp dụng css display: flex cho hàng
*/
.row-flex{
    border: 5px solid black;
    margin-bottom: 50px;
    /* áp dụng flex vào thành phần cha */
    display: flex;
}
/* set width cho các cột bên trong */
.col1-flex{
background-color: blueviolet;
width: 50%;
}
.col2-flex{
    background-color: chartreuse;
    width: 50%;
}
/* Tính chất quan trọng của flex để thể hiện:
flex có cơ chế mặc định , luôn luôn giữ các cột bên trong nó trên cùng 1 hàng, cho dù thay đổi width của các hàng tổng > 100% -> không bị vỡ giao diện
 */
 /* Nên sdung flex để dựng layout cho đơn giản */
